@import 'base/normalize';
@import 'base/variables';
@import 'base/globals';
@import 'base/utilities';
@import 'base/darkmode';
@import 'base/syntax';

/** UI **/
@import 'layouts/header';
@import 'layouts/squares.scss';
@import 'layouts/default';
@import 'layouts/index';
@import 'layouts/categories';
@import 'layouts/post';
@import 'layouts/about';
@import 'layouts/archive';
@import 'layouts/roadmap';
@import 'layouts/footer';