.footer {
    margin-top: 2rem;
    padding: 2rem 0;
    background: $hfColor;
}

.footer__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;

    @media (max-width: 640px) {
        flex-direction: column;
    }
}

.footer__links {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

.footer__link:hover {
    color: $h1Color;
    text-decoration: underline;
}

.footer__rights {
    margin: 0 auto;
    text-align: right;
}

