
.roadmap__timeline {
    margin: 0, auto;
    padding: 1rem 0;
}

.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px;
    border-radius: 1rem;
    //background: #00bcd4;
    background: $h1Color;
    transform: translateX(-50%);
}

.timeline__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}

.timeline__item:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline__item:nth-child(even) .timeline__content {
    text-align: left;
}

.timeline__item:nth-child(even) .timeline__date {
    text-align: left;
}

.timeline__item:nth-child(odd) {
    flex-direction: row;
}

.timeline__item:nth-child(odd) .timeline__content {
    text-align: left;
}

.timeline__item:nth-child(odd) .timeline__date {
    text-align: right;
}

.timeline__content, .timeline__date {
    width: 45%;
    padding: 2rem;
    background: transparent;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    color: white;
}

.timeline__item:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 45%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    //background: #00bcd4;
    background: $boxColor;
    border: 1px solid $backColor;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline__item.completed:after {
    //background: #00bcd4;
    background: $h1Color;
    border: 1px solid $backColor;
    box-shadow: 0 0 15px rgba(236, 204, 142, 0.9);

    content: '\2713';
    color: #1e1e1e;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
}




