@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Font
$principalFont: "Roboto", sans-serif;

// Media Queries size
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$backColor: #040011;
$hfColor: #181425;
$boxColor: #2B2736;
//$backColor: #181425;
$h1Color: #ECCE8E;
$h2Color: #DBCF96;
$h3Color: #C2C6A7;
$h4Color: #9AC2C5;
//$backColor: #080e12;

$pColor: #8591af;


$gray: #464c50;
$lightGray: #959596;
$white: #fff;

// Font size
$fontSmall: 300;
$fontRegular: 400;
$fontBold: 700;
$fontBlack: 900;


